# ----------------------------  Core 
gradio==3.43.2

# ----------------------------  Release requirement 
tiktoken>=0.3.3
pydantic==1.10.11
SQLAlchemy==2.0.25

# ----------------------------  Extended Dependencies
requests[socks]
psutil
distro
python-dotenv
Levenshtein
qrcode
pypinyin
SpeechRecognition
beautifulsoup4
prompt_toolkit
colorama
pygments
openai
numpy
loguru
pymdown-extensions
rich
pyfiglet
yarl
chardet
commentjson
rich

# ---------------------------- FastAPi 
starlette
sse_starlette

# ---------------------------- HuggingFace Community
# NLP
sentence_transformers
nltk

# vector database
transformers>=4.27.1
chromadb
langchain==0.0.354
langchain-experimental==0.0.47

# autogen
pyautogen

# dao-ai
dashscope

# ---------------------------- Reader 
# Senior
scipdf_parser>=0.52
scikit-learn
PaddlePaddle
paddleocr


# Docs
pypdf2==2.12.1
latex2mathml
Markdown
pymupdf
mdtex2html
python-docx
xmindparser
xmind
moviepy
arxiv